<!DOCTYPE html>
<html>
<head>
  <style>
  h2{
  text-align:center;
}
#brule-div{
  display:flex;
  align-items: center;
  justify-content: center;
}
  </style>
</head>

<br>
<br>
  <body>
    <h2> There's nothing here, ya dingus!</h2>
  <div id='brule-div'>
  <img id='brule' src="https://i.vimeocdn.com/video/55934283_640.jpg">
  </div>
  <h2>404</h2>
  <br>
  {{>footer}}
  </body>


</html>
