<!DOCTYPE html>
<html>
<head>
<style>
h4{
  font-family: 'Righteous', cursive;
}
</style>
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
<h4> Alex's website</h4>
<a href='/nba'> NBA Player Search </a>

</body>
</html>
